<div class= "about">

        <h2 class= "abouttitle">About Me</h2>
        
</div>

<div class= "content">

<div class= "col1"><img style = "width:300px;height:300px"  class="rotate-270" alt="SomeAd" src="../assets/Pro_Pic.jpg"></div>

<div class= "col2" id="bio">
    <p style="color:#990000;font-family:Times New Roman;font-size:30px">Name: Juwan Smith </p>
    <p style="color:#990000;font-family:Times New Roman;font-size:30px">Year: Senior </p>
    <p style="color:#990000;font-family:Times New Roman;font-size:30px">Languages Studied: Java, C, Javascript, C++ </p>
    <p style="color:#990000;font-family:Times New Roman;font-size:30px">
       Bio: Sup, I'm Juwan a Senior Undegrad at Georgia State University. After graduation
       I'm planning on becoming an Audio Programmer in the Gaming Industry. I like to make 2D RPG
       games currently and will probably continue to make those and hopefully more advanced
       and intricate style of games in the future.
    </p>
</div>

</div>


<div>
    
    <h2 class= "stitle">Social Media Links:</h2>

</div>

<div class="social">
        
        <div class= "links" >  <a href="https://twitter.com/Taco_Kami69"><img style = "width:200px;height:200px"  id="Ad1" alt="SomeLogo" src="../assets/twitter.png"></a></div>
        <div class= "links" >  <a href="https://www.instagram.com/tacokami69/"><img style = "width:200px;height:200px"  id="Ad1" alt="SomeLogo" src="../assets/instagram.jpg"></a></div>
        <div class= "links" >  <a href="https://www.youtube.com/channel/UCVgqzpPQrrQF43XQsaAmS4A"> <img style = "width:200px;height:200px"  id="Ad1" alt="SomeLogo" src="../assets/youtube.png"></a></div>
</div>
 