body{
    
    background-color: #c0c0c0;

}

/*Site Title */
h1{
    font-family: "Impact";
    color: #990000;
    font-size: 100px;
}

/*Top Logo */ 
.col1{
   
    border: 4px solid black;
    float: left;
    top: 0px;

}
/*Site Title */ 

.col2{
    
    text-align: center;
}

.nav{
    padding-bottom: 80px;
}

/*Site Ads*/
* {

    box-sizing: border-box;

}

.Ads{
    float: left;
    padding: 5px;
    width: 33.33%;
}

.clearfix::after {
    content: "";
    display: table;
    clear:both;
}

.clearfix{
    padding-bottom: 90px;
}

#Ad1{
    border: 4px solid black;
}

#Ad2{
    border: 4px solid black;
  
    
}

#GameArt{
    border: 2px dashed black;
}
/*Animated text*/
h2.flash{
    -webkit-animation: color-change 1s infinite;
    -moz-animation: color-change 1s infinite;
    -o-animation: color-change 1s infinite;
    -ms-animation: color-change 1s infinite;
    animation: color-change 1s infinite;
    font-family: "Impact";
    font-size: 80px;
    text-align: center;
    padding-bottom: 20px;
}

@-webkit-keyframes color-change {
    0% { color: red; }
    50% { color: blue; }
    100% { color: green; }
}
@-moz-keyframes color-change {
    0% { color: red; }
    50% { color: blue; }
    100% { color: green; }
}
@-ms-keyframes color-change {
    0% { color: red; }
    50% { color: blue; }
    100% { color: green; }
}
@-o-keyframes color-change {
    0% { color: red; }
    50% { color: blue; }
    100% { color: green; }
}
@keyframes color-change {
    0% { color: red; }
    50% { color: blue; }
    100% { color: green; }
}
/*Animated text end*/

/*Footer Ad  */

#SWS{
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
   
}

.footer{

    border-bottom: 70px solid black;

}

/*Navigation bar */
.top:after {
    display: table;
    clear: both;
}

.top{
   
    padding-bottom: 50px;
}

ul.pages {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #990000;
  }

  









